.ld.ld-page {
  background-color: #262633;
  overflow-y: auto;
  overflow-x: hidden;
}
.ld.ld-page.ld-secondary-page .ld.ld-header {
  height: 70px;
  overflow: hidden;
  background: none;
  box-shadow: none;
}
.ld.ld-page.ld-fullscreen-page {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.ld.ld-page.ld-fullscreen-page .ld.ld-header {
  height: 70px;
  overflow: hidden;
  background: none;
  box-shadow: none;
}
.ld.ld-page.ld-fullscreen-page .ld.ld-body {
  position: absolute;
  top: 95px;
  bottom: 40px;
  left: 0px;
  right: 0px;
}
.ld.ld-page.ld-fullscreen-page .ld.ld-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.ld.ld-page .btn.btn-lg {
  border-radius: 4px;
}
.ld.ld-page .btn.btn-primary {
  background: #D8C13A;
  border-color: #D8C13A;
  color: #141422;
}
.ld.ld-page .btn.btn-primary:hover {
  background: #E2D16B;
  border-color: #E2D16B;
}
.ld.ld-page .ld.ld-container {
  width: 1200px;
  margin: 0px auto;
  position: relative;
  overflow: visible;
}
.ld.ld-page .ld.ld-section {
  position: relative;
  display: block;
  width: 100%;
}
.ld.ld-page .ld.ld-section.ld-super {
  display: table;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header {
  display: table;
  width: 100%;
  margin: 20px 0px;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header a.btn.btn-primary {
  margin: 10px 0px 0px 0px;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate {
  display: block;
  position: relative;
  overflow: visible;
  color: #FFFFFF;
  padding: 5px 8px;
  line-height: 1.4em;
  margin: 0px 0px;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate:after {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 10000px;
  margin-top: -2px;
  top: 50%;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate.ld-decorate-left {
  float: left;
  border: 2px solid #2ECE9D;
  border-left: 4px solid #2ECE9D;
  background: rgba(46, 206, 157, 0.15);
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate.ld-decorate-left:after {
  left: auto;
  right: 100%;
  background-color: #2ECE9D;
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate.ld-decorate-right {
  float: right;
  border: 2px solid #15A0BF;
  border-right: 4px solid #15A0BF;
  background: rgba(21, 160, 191, 0.15);
}
.ld.ld-page .ld.ld-section .ld.ld-offset-header h3.ld.ld-decorate.ld-decorate-right:after {
  left: 100%;
  right: auto;
  background-color: #15A0BF;
}
.ld.ld-page .ld.ld-section .ld.ld-message {
  color: #D0D0D2;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.5em;
  margin: 20px 0px;
}
.ld.ld-page .ld.ld-section .ld.ld-video {
  background-color: #141422;
  border-radius: 1em;
  padding: 1.5em;
  height: 300px;
  margin-bottom: 10px;
}
.ld.ld-page .ld.ld-section .ld.ld-features {
  position: relative;
  overflow: visible;
  margin-left: -10px;
}
.ld.ld-page .ld.ld-section .ld.ld-feature {
  position: relative;
  float: left;
  overflow: visible;
  margin: 0px 0px 10px 10px;
  width: 580px;
  color: #D0D0D2;
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
  background-color: #141422;
  border-radius: 0.6em;
  padding: 1em;
}
.ld.ld-page .ld.ld-section .ld.ld-pricing-offers {
  position: relative;
  overflow: visible;
  margin-left: -10px;
}
.ld.ld-page .ld.ld-section .ld.ld-pricing-offer {
  position: relative;
  float: left;
  overflow: visible;
  margin: 0px 0px 10px 10px;
  width: 285px;
  color: #D0D0D2;
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
  background-color: #141422;
  border-radius: 0.6em;
  padding: 1em;
}
.ld.ld-page .ld.ld-section .ld.ld-pricing-offer .ld.ld-offer-price {
  font-size: 1.1em;
  color: #E0CD61;
}
.ld.ld-page .ld.ld-section .ld.ld-pricing-offer .ld.ld-offer-discount {
  font-size: 0.8em;
}
.ld.ld-page .ld.ld-section .ld.ld-pricing-offer .ld-offer-promo {
  font-size: 0.7em;
}
.ld.ld-page .ld.ld-section .ld.ld-pricing-offer ul.ld.ld-offer-options {
  margin-top: 10px;
  font-size: 0.7em;
}
.ld.ld-page .ld.ld-section .ld.ld-pricing-offer ul.ld.ld-offer-options li {
  text-align: left;
}
.ld.ld-page .ld.ld-section .ld.ld-copyright {
  padding: 10px 0px;
  color: #D0D0D2;
  text-align: center;
}
