{
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "_": false,
        "jQuery": false,
        "require": false,
        "Vue": false,
        "Vuex": false,
        "VueRouter": false,
        "Core": true,
        "Shell": true,
        "Store": true,
        "Landing": true,
        "Widgets": true,
    },
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ]
    }
}
