<template id="landing-manage-mail">
    <div class="ld ld-section ld-body ld-manage ld-manage-mail">
        <div class="ld ld-table">
            <div class="ld ld-cell">
                <div class="ld ld-center">
                    <form v-if="details" novalidate @submit.prevent="validation.valid && add()">
                        <div>
                            <ol class="breadcrumb">
                                <li><router-link :to="{ path: '/manage' }">Manage</router-link></li>
                                <li><router-link :to="{ path: '/manage/i/' + $route.params.portal }">Portal</router-link></li>
                                <li class="active">Mail Settings</li>
                            </ol>
                        </div>
                        <div class="form-group">
                            <h3>Mail Settings</h3>
                        </div>
                        <div class="form-group">
                            <label>New Property</label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Key</span>
                                <input type="text" class="form-control input-sm" placeholder="mail.*" v-model="form.name" list="mail-properties-list" />
                                <datalist id="mail-properties-list">
                                    <option value="mail.host" />
                                    <option value="mail.port" />
                                    <option value="mail.username" />
                                    <option value="mail.password" />
                                    <option value="mail.protocol" />
                                    <option value="mail.properties.mail.transport.protocol" />
                                    <option value="mail.properties.mail.smtp.auth" />
                                    <option value="mail.properties.mail.smtp.starttls.enable" />
                                    <option value="mail.properties.mail.smtp.socketFactory.class" />
                                    <option value="mail.properties.mail.smtp.socketFactory.port" />
                                </datalist>
                                <span class="input-group-addon">Value</span>
                                <input type="text" class="form-control input-sm" placeholder="" v-model="form.value" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" :disabled="!validation.valid">Add</button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <form v-if="details" novalidate @submit.prevent="update()">
                        <div class="form-group">
                            <label>Properties</label>
                            <div v-for="item in sorted()" :key="item.uuid" style="margin-bottom: 4px">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" style="min-width: 280px; text-align: left">{{ item.name }}</span>
                                    <input type="text" class="form-control input-sm" v-model="item.value" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" @click="remove(item)">Remove</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
