// "out": "manage.css"

.ld.ld-manage {

    background: transparent;

    .ld.ld-table {

        display: table;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;

        .ld.ld-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }

    form {
        display: inline-block;
        text-align: left;
        width: 400px;
        color: #FFFFFF;
        margin-bottom: 200px;
    }

    .ld.ld-portals {

        .ld.ld-portal {

            display: table;
            width: 100%;
            margin-bottom: 10px;
            padding: 1em;

            .ld.ld-portal-data {
                display: table-cell;
                vertical-align: top;
                width: 380px;

                .ld.ld-data-title {
                    font-size: 1.2em;
                    color: #D0D0D2;
                }

                .ld.ld-data-ref {
                    font-size: 0.9em;
                    color: #D0D0D2;
                }
            }

            .ld.ld-portal-buttons {
                display: table-cell;
                vertical-align: middle;
            }

            background-color: #141422;
            border-radius: 0.6em;
        }
    }

    .ld.ld-thumbnail {
        position: relative;
        overflow: auto;
        height: 205px;
        width: 370px;
        margin: 0px 0px;
        overflow: hidden;
        background-size: cover;
        background-position: top center;

        >.ld.ld-thumbnail-inner {
            width: 360px;
            height: 195px;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
        }
    }

    .ld.ld-relative {
        position: relative;
        overflow: hidden;
    }

    .ld.ld-upload {

        position: relative;
        display: table;
        overflow: hidden;
        width: 100%;
        border: 2px dashed #484855;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 5px;

        >input {
            position: absolute;
            right: 0px;
            top: 0px;
            font-size: 500px;
            opacity: 0;
            cursor: pointer;
        }
    }
}
