<template id="landing-manage-create">
    <div class="ld ld-section ld-body ld-manage ld-manage-create">
        <div class="ld ld-table">
            <div class="ld ld-cell">
                <div class="ld ld-center">
                    <form novalidate @submit.prevent="validation.valid && create()">
                        <div>
                            <ol class="breadcrumb">
                                <li><router-link :to="{ path: '/manage' }">Manage</router-link></li>
                                <li class="active">Create Portal</li>
                            </ol>
                        </div>
                        <div class="form-group">
                            <h3>Create Portal</h3>
                        </div>
                        <div class="form-group" :class="{
                            'has-error': validation.title.dirty && validation.title.required,
                            'has-feedback': validation.title.dirty && validation.title.required,
                        }">
                            <input type="text" class="form-control input-lg" placeholder="Title" autofocus v-model="form.title">
                            <span v-if="validation.title.dirty && validation.title.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <div v-if="validation.title.dirty && validation.title.required">Title is a required field</div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg" v-if="validation.valid">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
