.ld.ld-manage {
  background: transparent;
}
.ld.ld-manage .ld.ld-table {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.ld.ld-manage .ld.ld-table .ld.ld-cell {
  display: table-cell;
  vertical-align: middle;
}
.ld.ld-manage form {
  display: inline-block;
  text-align: left;
  width: 400px;
  color: #FFFFFF;
  margin-bottom: 200px;
}
.ld.ld-manage .ld.ld-portals .ld.ld-portal {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  padding: 1em;
  background-color: #141422;
  border-radius: 0.6em;
}
.ld.ld-manage .ld.ld-portals .ld.ld-portal .ld.ld-portal-data {
  display: table-cell;
  vertical-align: top;
  width: 380px;
}
.ld.ld-manage .ld.ld-portals .ld.ld-portal .ld.ld-portal-data .ld.ld-data-title {
  font-size: 1.2em;
  color: #D0D0D2;
}
.ld.ld-manage .ld.ld-portals .ld.ld-portal .ld.ld-portal-data .ld.ld-data-title > .label.label-success {
  font-size: 11px;
  vertical-align: bottom;
  margin-bottom: 5px;
  display: inline-block;
  padding: 0px 3px;
  line-height: 16px;
  font-weight: normal;
}
.ld.ld-manage .ld.ld-portals .ld.ld-portal .ld.ld-portal-data .ld.ld-data-ref {
  font-size: 0.9em;
  color: #D0D0D2;
}
.ld.ld-manage .ld.ld-portals .ld.ld-portal .ld.ld-portal-buttons {
  min-width: 200px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
}
.ld.ld-manage .ld.ld-portals .ld.ld-portal .ld.ld-portal-buttons > .btn,
.ld.ld-manage .ld.ld-portals .ld.ld-portal .ld.ld-portal-buttons > .btn-group {
  margin-left: 5px;
}
.ld.ld-manage .ld.ld-thumbnail {
  position: relative;
  overflow: auto;
  height: 205px;
  width: 370px;
  margin: 0px 0px;
  overflow: hidden;
  background-size: cover;
  background-position: top center;
}
.ld.ld-manage .ld.ld-thumbnail > .ld.ld-thumbnail-inner {
  width: 360px;
  height: 195px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.ld.ld-manage .ld.ld-relative {
  position: relative;
  overflow: hidden;
}
.ld.ld-manage .ld.ld-upload {
  position: relative;
  display: table;
  overflow: hidden;
  width: 100%;
  border: 2px dashed #484855;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}
.ld.ld-manage .ld.ld-upload > input {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 500px;
  opacity: 0;
  cursor: pointer;
}
