<template id="landing-manage-publish">
    <div class="ld ld-section ld-body ld-manage ld-manage-create">
        <div class="ld ld-table">
            <div class="ld ld-cell">
                <validator name="validation">
                    <form v-if="form" novalidate @submit.prevent="$validation.valid && publish()">
                        <div class="form-group">
                            <h3>Publish Portal</h3>
                        </dif>
                        <div class="form-group" :class="{
                            'has-error': $validation.title.dirty && ($validation.title.required || $validation.title.pattern),
                            'has-feedback': $validation.title.dirty && ($validation.title.required || $validation.title.pattern),
                        }">
                            <input type="text" class="form-control input-lg" placeholder="Title" v-model="form.title" v-validate:title="{
                                required: { rule: true, message: 'Title is a required field' },
                            }">
                            <span v-if="$validation.title.dirty && $validation.title.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <div v-if="$validation.title.dirty && $validation.title.required">{{ $validation.title.required }}</div>
                        </div>
                        <div class="form-group">
                            <div class="ld ld-upload">
                                <div class="thumbnail ld ld-thumbnail" v-if="form.image">
                                    <div class="ld ld-thumbnail-inner" :style="{
                                        'background-image': 'url(' + form.image + ')'
                                    }">
                                    </div>
                                </div>
                                <div class="btn btn-default btn-block" v-if="!form.image">Upload Thumbnail</div>
                                <input type="file" name="thumbnail" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg" v-if="$validation.valid && form.image">Publish</button>
                        </div>
                    </form>
                </validator>
            </div>
        </div>
    </div>
</template>
