<template id="landing-manage-publish">
    <div class="ld ld-section ld-body ld-manage ld-manage-publish">
        <div class="ld ld-table">
            <div class="ld ld-cell">
                <form v-if="form" novalidate @submit.prevent="validation.valid && publish()">
                    <div class="form-group">
                        <h3>Publish Portal</h3>
                    </dif>
                    <div class="form-group" :class="{
                        'has-error': validation.title.dirty && validation.title.required,
                        'has-feedback': validation.title.dirty && validation.title.required,
                    }">
                        <input type="text" class="form-control input-lg" placeholder="Title" autofocus v-model="form.title">
                        <span v-if="validation.title.dirty && validation.title.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <div v-if="validation.title.dirty && validation.title.required">Title is a required field</div>
                    </div>
                    <div class="form-group">
                        <div class="ld ld-upload">
                            <div class="thumbnail ld ld-thumbnail" v-if="form.thumbnail">
                                <div class="ld ld-thumbnail-inner" :style="{
                                    'background-image': 'url(' + $store.state.settings.endpoint + '/images/u/' + form.thumbnail.uuid + '/thumbnail.png)'
                                }">
                                </div>
                            </div>
                            <div class="btn btn-default btn-block" v-if="!form.thumbnail">Upload Thumbnail</div>
                            <input type="file" name="thumbnail" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg" v-if="validation.valid">Publish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
