<template id="landing-header">
    <div class="ld ld-section ld-header">
        <div class="ld ld-header-affix" v-affix="{ offset: { top: 25 } }">
            <div class="ld ld-container">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation"><a v-link="{ path: '/' }">About</a></li>
                            <li role="presentation"><a v-link="{ path: '/gallery' }">Gallery</a></li>
                            <li role="presentation"><a v-link="{ path: '/storage' }">Storage</a></li>
                            <li v-if="$root.principal == null" role="presentation"><a v-link="{ path: '/signup' }">Register</a></li>
                            <li v-if="$root.principal == null" role="presentation"><a v-link="{ path: '/signin' }">Sign In</a></li>
                            <li v-if="$root.principal != null" role="presentation"><a href="#" @click.prevent="signout()">Sign Out</a></li>
                            <li v-if="$root.principal != null" role="presentation" class="primary"><a v-link="{ path: '/manage' }">Control Panel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ld ld-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="ld ld-offer">
                        <h1>Open your online universe!</h1>
                        <h2>Archery is the Cloud platform to build business friendly online services.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
