<template id="landing-header">
    <div class="ld ld-section ld-header">
        <div class="ld ld-section ld-header-affix" v-affix="{ offset: { top: 25 } }">
            <div class="ld ld-container">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation"><a href="#" @click.prevent="$router.push({ path: '/'})">About</a></li>
                            <li role="presentation"><a href="#" @click.prevent="$router.push({ path: '/gallery'})">Gallery</a></li>
                            <li role="presentation"><a href="#" @click.prevent="$router.push({ path: '/storage'})">Storage</a></li>
                            <li v-if="$store.state.security.principal.user == null" role="presentation">
                                <a href="#" @click.prevent="$router.push({ path: '/signup'})">Register</a></li>
                            <li v-if="$store.state.security.principal.user == null" role="presentation">
                                <a href="#" @click.prevent="$router.push({ path: '/signin'})">Sign In</a></li>
                            <li v-if="$store.state.security.principal.user != null" role="presentation">
                                <a href="#" @click.prevent="$router.push({ path: '/profile'})">Profile</a></li>
                            <li v-if="$store.state.security.principal.user != null" role="presentation">
                                <a href="#" @click.prevent="signout()">Sign Out</a></li>
                            <li v-if="$store.state.security.principal.user != null" role="presentation" class="primary">
                                <a href="#" @click.prevent="$router.push({ path: '/manage'})">Control Panel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ld ld-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="ld ld-offer">
                        <h1>Open your online universe!</h1>
                        <h2>Archery is the Cloud platform to build business friendly online services.</h2>
                        <div class="text-center">
                            <br />
                            <a class="btn btn-lg btn-primary" href="#" @click="$router.push({ path: '/donate' })">Support Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
