.ld.ld-header {
  background: transparent url('/bundles/ntr1xlayout/src/landing/header/header.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.ld.ld-header .ld.ld-container {
  padding: 15px 0px;
}
.ld.ld-header .ld.ld-header-affix.affix {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10000;
  background: rgba(20, 20, 34, 0.95);
  border: 1px solid #262633;
}
.ld.ld-header ul.nav.nav-pills > li > a {
  font-size: 1.2em;
  color: #D8C13A;
}
.ld.ld-header ul.nav.nav-pills > li > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #E0CD61;
}
.ld.ld-header ul.nav.nav-pills > li > a:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #E0CD61;
}
.ld.ld-header ul.nav.nav-pills > li.active > a {
  background-color: rgba(255, 255, 255, 0.1);
  color: #E0CD61;
}
.ld.ld-header ul.nav.nav-pills > li.primary a {
  background: #D8C13A;
  border-color: #D8C13A;
  color: #141422;
}
.ld.ld-header ul.nav.nav-pills > li.primary a:hover {
  background: #E2D16B;
  border-color: #E2D16B;
}
.ld.ld-header .ld.ld-offer {
  position: relative;
  text-align: center;
  margin-top: 80px;
}
.ld.ld-header .ld.ld-offer h1 {
  color: #F9EFC1;
  font-size: 72px;
  text-shadow: 0 1px 3px #141422;
}
.ld.ld-header .ld.ld-offer h2 {
  color: #FFFFFF;
  text-shadow: 0 1px 3px #141422;
}
