// "out": "account.css"

.ld.ld-account {

    background: transparent;

    &.ld-account-apply {

        .ld.ld-center {
            width: 800px;
        }
    }

    &.ld-account-purchase {

        .ld.ld-center {

            width: 300px;

            .ld.ld-offer {

                color: #D0D0D2;
                font-size: 1.1em;
                font-weight: 300;
                text-align: center;
                background-color: #141422;
                border-radius: .6em;
                padding: 1em;

                .ld.ld-offer-price {

                    font-size: 1.1em;
                    color: #E0CD61;
                }

                ul {
                    margin: 0px 10px 10px;
                    text-align: left;
                }

                hr {
                    margin: 8px 30px;
                    height: 1px;
                    border-top: 1px solid #666677;
                }

                .ld.ld-offer-prices {

                    .row {
                        margin-bottom: 8px;
                    }
                }

                .ld.ld-smile {
                    font-size: 3em;
                    color: #E0CD61;
                }
            }
        }
    }
}
