.ld.ld-account {
  background: transparent;
}
.ld.ld-account .ld.ld-table {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.ld.ld-account .ld.ld-table .ld.ld-cell {
  display: table-cell;
  vertical-align: middle;
}
.ld.ld-account form {
  display: inline-block;
  text-align: left;
  width: 400px;
  color: #FFFFFF;
  margin-bottom: 200px;
}
