<template id="landing-account-signup">
    <div class="ld ld-section ld-body ld-account ld-account-signup">
        <div class="ld ld-table">
            <div class="ld ld-cell">
                <div class="ld ld-center">
                    <form novalidate @submit.prevent="validation.valid && signup()">
                        <div class="form-group">
                            <h3>Register</h3>
                        </dif>
                        <div class="form-group" :class="{
                            'has-error': validation.name.dirty && (validation.name.required),
                            'has-feedback': validation.name.dirty && (validation.name.required),
                        }">
                            <input type="text" class="form-control input-lg" placeholder="Name" autofocus v-model="form.name">
                            <span v-if="validation.name.dirty && validation.name.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <div v-if="validation.name.dirty && validation.name.required">Name is a required field</div>
                        </div>
                        <div class="form-group" :class="{
                            'has-error': validation.email.dirty && (validation.email.required || validation.email.illegal),
                            'has-feedback': validation.email.dirty && (validation.email.required || validation.email.illegal),
                        }">
                            <input type="text" class="form-control input-lg" placeholder="Email" autofocus v-model="form.email">
                            <span v-if="validation.email.dirty && (validation.email.required || validation.email.illegal)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <div v-if="validation.email.dirty && validation.email.required">Email is a required field</div>
                            <div v-if="validation.email.dirty && !validation.email.required && validation.email.illegal">Invalid email address</div>
                        </div>
                        <div class="form-group" :class="{
                            'has-error': validation.password.dirty && (validation.password.required || validation.password.illegal),
                            'has-feedback': validation.password.dirty && (validation.password.required || validation.password.illegal),
                        }">
                            <input type="password" class="form-control input-lg" placeholder="Password" v-model="form.password">
                            <span v-if="validation.password.dirty && (validation.password.required || validation.password.illegal)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <div v-if="validation.password.dirty && validation.password.required">Password is a required field</div>
                            <div v-if="validation.password.dirty && !validation.password.required && validation.password.illegal">Your password is too short</div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg" v-if="validation.valid">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
