<template id="landing-pricing">
    <div class="ld ld-section ld-pricing">
        <div class="ld ld-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ld ld-offset-header">
                            <h3 class="ld ld-decorate ld-decorate-left"><span class="glyphicon glyphicon-hdd"></span> Pricing</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ld ld-pricing-offers">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 col-xs-12" v-for="offer in $store.state.landing.offers.content">
                                        <div class="ld ld-pricing-offer">
                                            <h4>{{ offer.title }}</h4>
                                            <div class="ld ld-offer-price">{{ offer.extra.price }}</div>
                                            <div class="ld ld-offer-discount">{{ offer.promo }}</div>
                                            <ul class="ld ld-offer-options">
                                                <li v-for="benefit in offer.extra.benefits">{{ benefit }}</li>
                                            </ul>
                                            <div class="ld ld-offer-promo">
                                                <p>{{ offer.extra.purpose }}</p>
                                                <a :href="offer.extra.url + '/' + offer.id" @click.prevent="$router.push({ path: offer.extra.url + '/' + offer.id })"
                                                    class="btn btn-primary">{{ offer.extra.action }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
